graphs/
.history
.vscode
sdk/files

SpMV/dataset
SpMV/SparseP_ES/results
SpMV/SparseP_ES/bin
SpMV/figures

SpMV/SparseP_EW/bin
SpMV/SparseP_EW/results

SpMV/SpMV_OFIS/results
SpMV/SpMV_OFIS/bin
SpMV/SpMV_OFIS/save_dcsr.c

PageRank/bin/
PageRank/dataset
PageRank/obj
PageRank/result
PageRank/figures

CLAUDE.md
